.app{
    height: 100vh;
    background-color: white;
   /*  background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);


 */    
 
 &.dark{
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
   
  
  }
 .sections{
        width: 100%;
        height: calc(100vh - 70px) ;
       
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //firefox
        &::-webkit-scrollbar{
            display: none;
        }

         > * {
             width: 100vw;
             height: calc(100vh - 70px) ;
             scroll-snap-align: start;
         }
    }
}
